/*
settings
*/

* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* 
assets
*/

/*
header
*/
header {
  width: 100vw;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  width: 100vw;
  height: 60vh;
  background-color: #9999;
}

.logo {
  font-size: 30px;
  font-weight: 200;
}

/*
main
*/
main {
  width: 100vw;
  height: 1500px;
  color: #333;
}

/*
footer
*/
footer {
  width: 100vw;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
